<html>
<head>
    <title>Toggl Reporting Excel Sheet Creation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="reporting.css">
</head>
<body>
<div id="app">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col">
                <form>
                    <div class="row">
                        <div class="col-4">
                            <input type="date" class="form-control" v-model="dateFrom">
                        </div>
                        <div class="col-4">
                            <input type="date" class="form-control" v-model="dateTo">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Laden</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-auto">
                <div class="btn-group">
                    <button class="btn btn-secondary" v-on:click="prepare" v-if="!excelAvailable">Excel</button>
                    <button class="btn btn-secondary" v-on:click="download" v-if="excelAvailable">Excel herunterladen
                    </button>
                    <button class="btn btn-danger" v-on:click="tagRange">Abgerechnet</button>
                    <button class="btn btn-danger" v-on:click="untagRange">Zur&uuml;cksetzen</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pl-4 mt-2">
                <div class="row">
                    <div class="col-4"  v-if="cashout" v-for="client in cashout"><b>{{client.client}}</b>: {{client.amount}}</div>
                </div>
                <div class="row">
                    <div class="col-xs"></div>
                    <div class="col-xs-4"><b>Total</b>: {{totalCashout}}</div>
                </div>
            </div>
        </div>
        <hr/>
        <ul class="nav nav-pills nav-fill">
            <li class=nav-item v-for="(client, idx) in clients">
                <a class="nav-link" v-bind:class="{ active: (idx === activeClient) }" href
                   v-on:click.prevent="switchClient(idx)">{{client.name}}</a>
            </li>
        </ul>
        <hr>
        <table class="table table-bordered" v-if="projects">
            <thead>
            <tr>
                <th>Projekt</th>
                <th class="text-right">h:m</th>
                <th class="text-right">h.m</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="project in projects">
                <td>{{project.name}}</td>
                <td class="text-right">{{formatMinutes(project.minutes)}}</td>
                <td class="text-right">{{formatDecimal(project.minutes)}}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered table-sm" v-if="timesheet">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Tagestotal</th>
                <th>Von</th>
                <th>Bis</th>
                <th>Dauer</th>
                <th>Projekt</th>
                <th>Beschreibung
                <th>Tags</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <template v-for="day in timesheet">
                <tr v-for="(time, idx) in day">
                    <td v-bind:rowspan="day.length" v-if="idx == 0">{{formatDate(time.day)}}</td>
                    <td v-bind:rowspan="day.length" v-if="idx == 0">{{formatDayMinutes(day)}}<br/>{{formatDayDecimal(day)}}</td>
                    <td>{{formatTime(time.startdate)}}</td>
                    <td>{{formatTime(time.enddate)}}</td>
                    <td>{{formatMinutes(time.minutes)}}<br/>{{formatDecimal(time.minutes)}}</td>
                    <td>{{time.project}}</td>
                    <td>{{time.description}}</td>
                    <td>{{time.tags}}</td>
                    <td>
                        <button class="btn btn-sm" v-on:click="tagBilled(time.id)">&#x2611;</button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
        crossorigin="anonymous"></script>
<script src="toggl.js"></script>
</body>
</html>
